@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Yatra+One&display=swap');

img {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: "Yatra One", system-ui;
    background: linear-gradient(lightyellow, lightblue);
    margin: 0;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}